window {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  background-color: #eff1f5;  /* base */
  color: #4c4f69;             /* text */
  border: 2px solid #8839ef;  /* mauve */
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#entry {
  padding: 8px 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#entry:selected {
  background-color: #ccd0da;  /* surface0 */
  color: #dc8a78;             /* rosewater */
}

#input {
  margin: 12px;
  padding: 8px 10px;
  background-color: #e6e9ef;  /* mantle */
  border: none;
  color: #4c4f69;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#inner-box {
  margin: 8px;
}

#outer-box {
  margin: 12px;
  padding: 8px;
  border-radius: 8px;
  background-color: #e6e9ef;  /* mantle */
}

#scroll {
  margin: 8px 0;
}

#text {
  margin-left: 8px;
  transition: color 0.3s ease-in-out;
}

#text:selected {
  color: #ea76cb; /* pink */
}
